# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.venv/
.vscode/

# OS
.DS_Store
.CLAUDE.md

# Model files
output/
qwen2.5-1.5b-base/
qwen2.5-1.5b-wanju/
*.jsonl
